<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/components/head :: head}"> 
		<title>ORDENES</title>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
 <div>
	 

	 <aside th:replace="~{components/menu :: menu}"></aside>
	<div class="content-wrapper">
		<section class="content">
		<div class="row">
                    <div class="col-md-12">
                        <div class="box">
							<br>
							 <div class="box-header with-border text-center">
                                <h1 class="box-title">ORDENES
                                </h1>
                                <a class="btn btn-success" th:href="@{/ordenes/nuevo}" ><i class="fa fa-plus-circle"></i>
                                        Agregar</a>
                                <div class="box-tools pull-right">
                                </div>
							 </div>
							 <br><br>
						<div class="panel-body table-responsive" id="tablaPacientes">
							<table id="tablalistado" class="table table-striped table-bordered table-condensed table-hover">
				                <thead>
				                    <tr>
										<th>Acciones</th>
										<th class="text-center">Numero de orden</th>
										<th class="text-center">Numero de cliente</th>
										<th class="text-center">Fecha</th>
										<th class="text-center">Platos</th>
										<th class="text-center">Total</th>
										
				                    </tr>
				                
				                </thead>
				                <tbody>
								<tr th:each="ordenes : ${listaOrdenes}">
									<td><a class="btn btn-warning" th:href="@{/ordenes/actualizar/{id}(id=${ordenes.Idorden})}"><i class="fa-solid fa-pencil"></i></a>
									<a class="btn btn-danger" th:href="@{/ordenes/eliminar/{id}(id=${ordenes.Idorden})}"><i class="fa-solid fa-xmark"></i></a>
									</td>
									<td class="text-center" th:text = "${ordenes.idorden}">Idorden</td> 
									<td class="text-center" th:text = "${ordenes.idcliente}">Idcliente</td> 
									<td class="text-center" th:text = "${ordenes.fecha}">Fecha</td> 
									<td class="text-center" th:text = "${ordenes.platos}">Platos</td> 
									<td class="text-center" th:text = "${ordenes.total}">Total</td> 

									
								</tr>
								</tbody>
								<tfoot>
								<th>Acciones</th>
								<th class="text-center">Numero de orden</th>
								<th class="text-center">Numero de cliente</th>
								<th class="text-center">Fecha</th>
								<th class="text-center">Platos</th>
								<th class="text-center">Total</th>
							</tfoot>
				            </table>
						</div>
				
      <div class="container">
			<br>
        <div class="row">            
            
        </div>
      </div>
      </div>
                    </div></div></section>
                    
</body>	

</html>