<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"}></head>
<body class="hold-transition sidebar-mini layout-fixed">
 <div>
 <aside th:replace="~{components/menu :: menu}"></aside>
	<div class="content-wrapper">
		<section class="content">
		<div class="row">
                    <div class="col-md-12">
                        <div class="box">
							<br>
							 <div class="box-header with-border text-center">
                                <h1 class="box-title">CLIENTES
                                </h1>
                                <a class="btn btn-success" th:href="@{/clientes/nuevo}" ><i class="fa fa-plus-circle"></i>
                                        Agregar</a>
                                <div class="box-tools pull-right">
                                </div>
							 </div>
							 <br><br>
						<div class="panel-body table-responsive">
							<table  class="table table-striped table-bordered table-condensed table-hover">
				                <thead>
				                    <tr>
										<th>Acciones</th>
				                        <th>Id</th>
										<th>Nombre</th>
										<th>Direccion</th>
										<th>Numero</th>
										<th>Correo</th>
										<th>Tipo de Pago</th>
										
				                    </tr>
				                
				                </thead>
				                <tbody>
								<tr th:each="clientes : ${listaClientes}">
									<td><a class="btn btn-warning" th:href="@{/clientes/actualizar/{id}(id=${clientes.idclientes})}"><i class="fa-solid fa-pencil"></i></a>
									<a class="btn btn-danger" th:href="@{/clientes/eliminar/{id}(id=${clientes.idclientes})}"><i class="fa-solid fa-xmark"></i></a>
									</td>
										<td th:text = "${clientes.idclientes}">Id</td> 
										<td th:text = "${clientes.nombre}">Nombre</td> 
										<td th:text = "${clientes.direccion}">Direccion</td> 
										<td th:text = "${clientes.numero}">Numero</td> 
										<td th:text = "${clientes.correo}">Correo</td> 
										<td th:text = "${clientes.tipopago}">Tipo Pago</td>  
									
								</tr>
								</tbody>
								<tfoot>
										<th>Acciones</th>
				                        <th>Id</th>
										<th>Nombre</th>
										<th>Direccion</th>
										<th>Numero</th>
										<th>Correo</th>
										<th>Tipo de Pago</th>
							</tfoot>
				            </table>
						</div>
				
      <div class="container">
			<br>
        <div class="row">            
            
        </div>
      </div>
      </div>
                    </div></div></section>
                    
</body>	
</html>